head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Wooepa")
  meta(name="description", content="Wooepa")
  meta(name="fragment", content="!")
  meta(property="og:type" content="testapp-radu:sport")
  meta(property="og:url" content="www.wooepa.com")
  meta(property="og:description" content="Find event and play games !")
  meta(property="og:title" content="Wooepa.com")
  meta(property="og:image" content="http://s3.amazonaws.com/assets.soho-production/images/487/original.JPG?1307434005")

  link(href='/assets/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:description', content='Wooepa')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://wooepa.com')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Wooepa')
  meta(property='fb:admins', content='APP_ADMIN')
  meta(name='msvalidate.01', content='741DD559CC819DECAF2AA49D92578598')
  meta(name='google-site-verification', content='w79q3QuneD2E21myOjjIUeCobYxg7Rpv_TBQsZ_Yh2M')

  link(rel='stylesheet', href='/assets/lib/bootstrap/dist/css/bootstrap.min.css')
  

  //-link(rel='stylesheet', href='/assets/css/views/events.css')

  //- link(rel='stylesheet', href='/assets/lib/leaflet-dist/leaflet.css')
  //- link(rel='stylesheet', href='/assets/lib/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css')

  //- link(rel='stylesheet', href='/assets/lib/ng-table/ng-table.css')
  //- link(rel='stylesheet', href='/assets/lib/bootstrap-select/bootstrap-select.css')    
  //- link(rel='stylesheet', href='/assets/lib/ng-tags-input/ng-tags-input.min.css')     

  link(rel='stylesheet', href='/assets/css/flat-ui.css')
  link(rel='stylesheet', href='/assets/css/fontello.css')
  link(rel='stylesheet', href='/assets/css/common.css')