.datepicker {
  & {
    .lg({
      padding: 15px;
    });
  }

  table {
    display: block;
    background-color: darken(@red, 3%);

    thead, tbody {
      width: 100%;
      display: inline-table;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.active {
      background-color: transparent;
      border-radius: 500px;

      span {
        color: darken(@red, 20%);
      }
    }

    &:hover {
      transition: .3s ;
      background-color: darken(@red, 20%);
      border-radius: 500px;

      span {
        color: @red;
      }
    }
  }

  .glyphicon {
    .fa();
  }
  .glyphicon-chevron-left:before {
    content: @fa-var-chevron-left;
  }
  .glyphicon-chevron-right:before {
    content: @fa-var-chevron-right;
  }
}

.tags {
  padding: 15px;

  .tag-list {
    margin-top: 10px;
  }
}