.navbar {
  border-radius: 0;
}

.navbar .nav >li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

.navbar .nav >li > a.login {
  background-image: url('/img/facebook.png');
  margin: 0;
  height: 46px;
  width: 100px;
  text-indent: -9999px;
  margin-top: 4px;
}

.navbar-inverse {
  background-color: rgba(75, 75, 60, 0.95);
}

.navbar-nav > li > .dropdown-menu {
    min-width: 200%;
    padding: 15px;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 200ms linear;
  z-index: 999;
}

.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0%);
}