header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 200ms linear;
  padding: 0;
  z-index: 998;

  .navbar-inverse {
    background-color: @red;
  }

  nav {
    border-radius: 0;
    border: none;
    
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0px 0px 5px #666666;
    // border: 1px solid fade(@grey, 90%);

    i.fa {
      margin-left: 5px;
    }

    .user {
      float: right;
    }

    .login {
      background-image: url('/img/facebook.png');
      margin: 0;
      height: 50px;
      width: 100px;
      text-indent: -9999px;
      background-position-y: 3px;
      background-repeat: no-repeat;

      & {
        .xs({
          margin-right: 15px;
        });
      }
    }

    .navbar-header {
      width: 100%;

      .navbar-toggle {
        float: left;
        padding: 6px 10px;
      }

      .navbar-brand {
        background-color: darken(@red, 5%);
      }

      .navbar-right {
        margin: 0;
        float: right;

        .dropdown-menu {
          position: absolute;
        }

        .avatar {
          width: 40px;
          border-radius: 50%;
          margin-bottom: -10px;
          margin-top: -10px;
          margin-left: 10px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
        }
        .avatar img {
          width: 100%;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        }
      }
    }

    .navbar-collapse {
      ul {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
      }
      a, i, input, li {
        color: rgba(255, 255, 255, 0.84);
      }
      .navbar-form {
        margin: 0;
      }
    }
  }

  .banner {
    display: none;
    background-color: darken(@red, 5%);
    width: 100%;
    z-index: 10000;
    height: 300px;
  }

}
.unpinned {
  transform: translateY(-100%);
}
.pinned {
  transform: translateY(0%);
}