headroom {
  margin: 0 !important;
  padding: 0 !important;
}
.navbar {
  border-radius: 0;
  border: none;
  background-color: @red;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0px 0px 5px #666666;
  // border: 1px solid fade(@grey, 90%);
  padding: 0 !important;
  margin: 0 !important;
}
#list-view .navbar {
  background: transparent;
}
.navbar .nav >li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}
.navbar .nav >li > a.login {
  background-image: url('/img/facebook.png');
  margin: 0;
  height: 46px;
  width: 100px;
  text-indent: -9999px;
  margin-top: 4px;
}
.navbar-nav > li > .dropdown-menu {
  min-width: 200%;
  padding: 15px;
}
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 200ms linear;
  padding: 0;
  z-index: 998;
}
.unpinned {
  transform: translateY(-100%);
}
.pinned {
  transform: translateY(0%);
}
.banner {
  background: blue;
  width: 100%;
  z-index: 10000;
  height: 300px;
}