.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
//   content: "";
//   text-align: right;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 70%;
//   height: 1.2em;
//   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
// .fade {
//   position: relative;
//   height: 3.6em; /* exactly three lines */
// }
// .fade:after {
//   content: "";
//   text-align: right;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 70%;
//   height: 1.2em;
//   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
// }
@red: #DC3522;
@white: #D9CB9E;
@blue: #374140;
@grey: #2A2C2B;
@black: #1E1E20;