#getrewarded {
background-color:white;
color:black;
 .summary{
  width:100%;
  margin-top:5%;
  font-size:1.5em;
 .span{
  text-align:left;
  margin-left:10%;
  width:20%;
 }
 .h3{
  color:red;
  font-size:2em;
 }
 .getreward{
 	margin-top:3%;
 	width:5%;
 }
 .black{
  text-align:center;
  color:black;
 }
 .aligncenter{
  text-align:center;
 }
 }
 .bottom{
  font-size:1.5em;
  margin-top:5%;
 .h3{
  color:blue;
  margin-bottom:5%;
 }
 .aligncenter{
 text-align:center;
 }
 .maindiv{
  margin-top:10%;
  font-size:20px;
  margin-bottom:10%;
 }
 .black{
  text-align:center;
  color:black;
 }
 .grey{
  text-align:center;
  color:grey;
  &.small{
    font-size:10px;
  }
 }
 .red{
  text-align:center;
  color:red;
 }
 }
 .end{
 font-size:1.5em;
 margin-top:3%;
 .h3{
  color:red;
  }
  .grey{
  text-align:center;
  color:grey;
  &.small{
    font-size:10px;
  }
 }
 }
}

#information {
background-color:white;
color:black;
 .summary{
  margin-bottom:5%;
  display:inline-flex;
  width:100%;
  margin-top:5%;
  font-size:1em;
 .span{
  text-align:left;
  margin-left:10%;
  width:20%;
 }
 .h3{
  color:red;
 }
 .leftdiv{
 }
 .centerdiv{

 }
 .rightdiv{
  margin-left:25%;
 }
 .aligncenter{
  text-align:center;
 }
 }
 .bottom{
 .maindiv{
  margin-top:10%;
  font-size:20px;
  margin-bottom:10%;
 }
 .black{
  text-align:center;
  color:black;
 }
 .grey{
  text-align:center;
  color:grey;
  &.small{
    font-size:1.5em;
  }
 }
 .red{
  text-align:center;
  color:red;
 }
 }
}
#boost {
background-color:white;
color:black;
 .summary{
  width:100%;
  margin-top:5%;
  font-size:1.5em;
 .span{
  text-align:left;
  margin-left:10%;
  width:20%;
 }
 .red{
  text-align:center;
  color:red;
 }
 .h3{
  color:black;
  font-size:2em;
 }
 .getreward{
 	margin-top:3%;
 	width:5%;
 }
 .black{
  text-align:center;
  color:black;
 }
 .aligncenter{
  text-align:center;
 }
 }
 .bottom{
  font-size:1.5em;
  margin-top:5%;
 .h3{
  color:purple;
  margin-bottom:5%;
 }
 .aligncenter{
 text-align:center;
 }
 .maindiv{
  margin-top:10%;
  font-size:20px;
  margin-bottom:10%;
 }
 .black{
  text-align:center;
  color:black;
 }
 .grey{
  text-align:center;
  color:grey;
  &.small{
    font-size:10px;
  }
 }
 .red{
  text-align:center;
  color:red;
 }
 }
 .contactus{
 background-image:url('/img/boostyourevent/contactus.jpg');
 background-repeat:no-repeat;
 background-size:cover;
 .decal{
 	margin-top:14%;
 }
 }
 .end{
 font-size:1.5em;
 margin-top:3%;
 .h3{
  color:red;
  }
  p{
  	display:inline;
  }
  .blue{
  color:blue;
  text-align:center;
  }
  .black{
  color:black;
  text-align:center;
  }
  .purple{
  color:purple;
  text-align:center;
  }
  .grey{
  text-align:center;
  color:grey;
  &.small{
    font-size:10px;
  }
 }
 }
}