html,
body,
.wrapper,
.container,
.content,
.event-list,
.event-view {
  height: 100%;
}
body {
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: 15%;
  background-attachment: fixed;
  font-family: Ubuntu;
}
#wrapper {
  background: linear-gradient(180deg, fade(@blue, 20%) 0%, fade(rgb(69, 29, 55), 60%) 100%);
  // linear-gradient(180deg, rgba(55, 65, 64, 0.2) 0%, rgba(69, 29, 55, 0.58) 100%)
  padding-top: 50px;
}
#wrapper .container {
  width: auto;
  // background: -webkit-radial-gradient(closest-corner, rgba(16,47,70,0) 60%, rgba(16,47,70,0.26)),
  //   -webkit-linear-gradient(108deg, rgba(14, 21, 53, 0.28), rgba(214, 177, 129, 0.2) 90%);
  // background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)), -webkit-linear-gradient(108deg, rgba(229, 233, 191, 0.28) 10%, rgba(0, 57, 111, 0.39) 90%);
}
.container.one-col {
  padding: 0;
}
// #list #wrapper {
  //   margin-top: 50px;
  // }
#list .container.one-col {
  display: none;
}
#view .container.two-col {
  display: none;
}
i.fa {
  // float: left;
  margin-right: 5px;
}
a:hover {
  text-decoration: none;
}
a {
  color: @white;
  transition: .5s;
}
a:hover {
  color: lighten(@white, 10%);
}
.stuck {
  position: fixed;
  top: 0;
  right: 15px;
}
input.search {
  // width: 75px;
// -webkit-transition: all .5s ease;
// -moz-transition: all .5s ease;
// transition: all .5s ease;
}
input.search:focus {
  // width: 200px;
  // box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  // padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
  // border: 1px solid rgba(81, 203, 238, 1);
}