
// * {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   -webkit-tap-highlight-color: transparent;
//   box-sizing: border-box;
//   list-style-type: none;
//   margin: 0;
//   outline: 0;
//   padding: 0;
//   text-decoration: none;
// }
// :after,
// :before {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }
// html {
//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   font-family: sans-serif;
//   height: 100%;
//   overflow-x: hidden;
//   width: 100%;
// }
// body {
//   -webkit-overflow-scrolling: touch;
//   background-color: #f6f6f6;
//   font-family: AvenirNext-Regular, Roboto, 'Helvetica Neue', Helvetica, sans-serif;
//   font-size: 14px;
//   position: relative;
// }
body {
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: 15%;
  background-attachment: fixed;
  // font-family: Ubuntu;
  margin: 0;
}
#wrapper {
  background: linear-gradient(180deg, fade(@blue, 20%) 0%, fade(rgb(69, 29, 55), 60%) 100%);
  // linear-gradient(180deg, rgba(55, 65, 64, 0.2) 0%, rgba(69, 29, 55, 0.58) 100%)
  padding-top: 50px;
}
// #list #wrapper {
//   margin-top: 50px;
// }
i.fa {
  margin-right: 5px;
}
a {
  color: @white;
  transition: .5s;
}
a:hover {
  text-decoration: none;
  color: lighten(@white, 10%);
}

* {
  -webkit-user-select: none;
}

@xs: ~'(min-width: @{screen-xs-max}) and (max-width: @{screen-xs-max})';
@sm: ~'(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})';
@md: ~'(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})';
@lg: ~'(min-width: @{screen-lg-min})';

.xs(@rules) {
  @media @xs {
    @rules();
  }
}

.sm(@rules) {
  @media @sm {
    @rules();
  }
}

.md(@rules) {
  @media @md {
    @rules();
  }
}

.lg(@rules) {
  @media @lg {
    @rules();
  }
}