.scroll-to-fixed-fixed {
	top: 50px !important;
	padding: 0;
}

.sidebar {
	background: rgba(255,255,255, 0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.1), 0px 0px 5px #666666;
	border-radius: 3px;
	border: 1px solid #dddddd;

	a {
		color: #333333;
	}
}