.tag-list {
  padding: 3px 0;
}

.tag {
  border-radius: 3px;
  background-color: #1abc9c;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  padding: 0 6px;
  margin: 2px;
  display: inline-block;
}

.tag.salsa {
  background-color: #3eb9b9;
}

.tag.bachata {
  background-color: #639b34;
}

.tag.kizomba {
  background-color: #c9a95d;
}

.tag.reggaeton {
  background-color: #692673;
}

.tag.porto {
  background-color: #84349c;
}

.tag.semba, .tag.samba {
  background-color: #c57652;
}

.tag.cubaine, .tag.cubana {
  background-color: #7b2b29;
}

.tag.merengue {
  background-color: #ad3a48;
}

.tag.kuduru {
  background-color: #fce94f;
}
.tag.tango {
  background-color: #215f64;
}

.tag.lambazouk {
  background-color: #2c561d;
}