.tag-list {
  padding: 3px 0;
}

.tag {
  border-radius: 2px;
  border: 1px solid white;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
  margin: 2px;
  padding: 1px 4px;
  display: inline-block;
  // font-weight: bold;
  text-transform: uppercase;
}
