<section ng-controller="EventsCtrl">
  <div class="events">
  <!-- href="/events/{{ev.slug}}/{{ev.eid}}" -->
    <a class="event"  ui-sref="main.event({slug: ev.slug, eid: ev.eid})" ng-repeat="ev in events">
      <div class="title">
        <span class="truncate">{{ev.name}}</span>
        <div class="attending" ng-show="ev.attending_count > 0">{{ev.attending_count}}<i class="icon-group"></i></div>
        <div ng-show="ev.price.num > 0" class="price">{{ev.price.full}}</div>
        <div class="tag-list">
          <span class="tag-item {{tag}}" ng-repeat="tag in ev.tags" ng-if="$index < 3">{{tag}}</span>
        </div>
      </div>
      <div ng-show="ev.image" class="containing" style="background-image: url({{ev.image}});">
        <div ng-show="ev.price.num == 0" class="ribbon-wrapper-green"><div class="ribbon-green">{{ev.price.full}}</div></div>
        <img ng-src="{{ev.imageExt ? '/uploads/' + ev._id + '.' + ev.imageExt : ev.pic_cover.source}}" onerror="$(this).parent().hide()" />
      </div>
      <div class="info">
        <div class="datetime">
          <div class="date">
            <i class="fui-calendar-solid"></i>
            <div ng-if="ev.start_time.toDateString() !== today.toDateString()">
              <div class="day">{{ev.start_time | date:'dd'}}</div>
              <div class="month">{{ev.start_time | date:'MMM' | uppercase}}</div>
            </div>
            <div ng-if="ev.start_time.toDateString() === today.toDateString()">
              <div class="today">TODAY!</div>
            </div>
          </div>
          <div class="time">
            <i class="fui-time"></i>
            <div>{{ev.start_time | amDateFormat:'LT'}}</div>
          </div>
        </div>
        <div class="place-info">
          <div ng-click="openMap($event, ev)" href="https://maps.google.com/maps?q={{ev.place}}" target="_blank" class="place" ng-show="ev.location">
            <i class="fui-location"></i>
            <div class="location">{{ev.location | characters:50}} {{ev.city | characters:50}}</div>
            <div class="street truncate">{{ev.venue.city}}{{ev.venue.city && ev.venue.country ? ', ' : ''}}{{ev.venue.country}}</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
<div ui-view></div>