section(ng-controller='EventsCtrl')
    pagination.pagination(ng-show='ng-show', totalpages='totalPages')
        | 1" total-items="totalEvents" items-per-page="filter.limit" total-pages="totalPages" on-select-page="paginate(page)" page="filter.page" boundary-links="true" previous-text="‹" next-text="›" first-text="«" last-text="»"
      .events
        a.event(href='/{{ev.slug}}/{{ev.eid}}', ng-repeat='ev in events')
          .title
            span.truncate {{ev.name}}
            .attending(ng-show='ng-show', ev.attending_count='ev.attending_count')
              | 0"
              | {{ev.attending_count}}
              i.icon-group
            div(ng-show='ng-show', ev.price.num='ev.price.num')
              | 0" class="price"
              | {{ev.price.full}}
            .tag-list
              span.tag-item.{{tag}}(ng-repeat='tag in ev.tags', ng-if='ng-if')
          .containing(ng-show='ev.image', style='background-image: url({{ev.image}});')
            .ribbon-wrapper-green(ng-show='ev.price.num == 0')
              .ribbon-green {{ev.price.full}}
            img(ng-src='{{ev.imageExt ? \'/uploads/\' + ev._id + \'.\' + ev.imageExt : ev.pic_cover.source}}', onerror='$(this).parent().hide()')
          .info
            .datetime
              .date
                i.fui-calendar-solid
                div(ng-if='ev.start_time.toDateString() !== today.toDateString()')
                  .day {{ev.start_time | date:'dd'}}
                  .month {{ev.start_time | date:'MMM' | uppercase}}
                div(ng-if='ev.start_time.toDateString() === today.toDateString()')
                  .today TODAY!
              .time
                i.fui-time
                div {{ev.start_time | amDateFormat:'LT'}}
            .place-info
              .place(ng-click='openMap($event, ev)', href='https://maps.google.com/maps?q={{ev.place}}', target='_blank', ng-show='ev.location')
                i.fui-location
                .location {{ev.location | characters:50}} {{ev.city | characters:50}}
                .street.truncate
                  | {{ev.venue.city}}{{ev.venue.city && ev.venue.country ? ', ' : ''}}{{ev.venue.country}}