.event-form .modal-body {
  padding: 0 35px;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 1200px;
  }
}

.dropdown.login {
  width: 250px;
  padding: 17px;
}


p.description {
  white-space: pre-line;
  overflow: auto;
  word-break: break-word;
  text-align: left;
}

.modal-header .box {
  background: rgba(0,0,0,0.6);
  color: white;
}

.box h3 {
  font-size: 35px;
  margin: 0;
}

.modal-header .box {
  position: relative;
}

.modal-header .box .title {
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
}


.row {
 /*-moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; */
 text-align: center;  
}

.row > .col-md-4 {
 display: inline-block;
 float:none;
}

footer {
  margin-top: 80px;
  width: 100%;
  background-color: #1e1e1e;
}
footer .container {
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
}

.logo .title {
  font-weight: bold;
  font-size: 24pt;
  text-transform: uppercase;
  letter-spacing: 6px;
  border-bottom: 1px solid grey;
}
.logo .subtitle {
  color: #b4b4b4;
  clear: both;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  float: left;
  margin-top: 12px;
  margin-bottom: 20px;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
  background-color: #1E1E1E;
}
#lightings {
  bottom: -60px;
  position: absolute;
  width: 100%;
}
.lights {
  /*border-radius*/
 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}
#one {
  /*animation*/
 
  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F72A3B;
  }
}
@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #F72A3B;
  }
}
@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #F72A3B;
  }
}
#two {
  width: 90%;
  /*animation*/
 
  -webkit-animation: two 4s ease-in-out infinite alternate;
  -moz-animation: two 4s ease-in-out infinite alternate;
  -ms-animation: two 4s ease-in-out infinite alternate;
  -o-animation: two 4s ease-in-out infinite alternate;
  animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes two {
  from {
    -webkit-box-shadow: 0 0 250px 20px #18C499;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #D8F05E;
  }
}
@-moz-keyframes two {
  from {
    -moz-box-shadow: 0 0 250px 20px #18C499;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #D8F05E;
  }
}
@-o-keyframes two {
  from {
    -o-box-shadow: 0 0 250px 20px #18C499;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #D8F05E;
  }
}
#three {
  width: 80%;
  /*animation*/
 
  -webkit-animation: three 3s ease-in-out infinite alternate;
  -moz-animation: three 3s ease-in-out infinite alternate;
  -ms-animation: three 3s ease-in-out infinite alternate;
  -o-animation: three 3s ease-in-out infinite alternate;
  animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes three {
  from {
    -webkit-box-shadow: 0 0 250px 20px #FFDD00;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #3E33FF;
  }
}
@-moz-keyframes three {
  from {
    -moz-box-shadow: 0 0 250px 20px #FFDD00;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-o-keyframes three {
  from {
    -o-box-shadow: 0 0 250px 20px #FFDD00;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
#four {
  width: 70%;
  /*animation*/
 
  -webkit-animation: four 2s ease-in-out infinite alternate;
  -moz-animation: four 2s ease-in-out infinite alternate;
  -ms-animation: four 2s ease-in-out infinite alternate;
  -o-animation: four 2s ease-in-out infinite alternate;
  animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes four {
  from {
    -webkit-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F2BBE9;
  }
}
@-moz-keyframes four {
  from {
    -moz-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #F2BBE9;
  }
}
@-o-keyframes four {
  from {
    -o-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #F2BBE9;
  }
}
#five {
  width: 60%;
  /*animation*/
 
  -webkit-animation: five 1s ease-in-out infinite alternate;
  -moz-animation: five 1s ease-in-out infinite alternate;
  -ms-animation: five 1s ease-in-out infinite alternate;
  -o-animation: five 1s ease-in-out infinite alternate;
  animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42F2A1;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F4F6AD;
  }
}
@-moz-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42F2A1;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F4F6AD;
  }
}
@-o-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42F2A1;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F4F6AD;
  }
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
    padding: 15px 3px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  .event, .event img {
    max-width: 270px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .event {
    max-width: 250px;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .event {
    max-width: 250px;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .event {
    max-width: 250px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .event {
    max-width: 300px;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .event {
    max-width: 23%;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
.event-detail.modal-body {
  padding-top: 0;
}
.event-detail h3 {
  margin-top: 15px;
}
.event-detail i, .event-detail .day {
  float: left;
  margin-right: 10px;
}
