.navbar .nav>li>a.brand {
  padding-left:20px;
  margin-left:0
}
navbar.container {
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-color: #FAFAFA;
}
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black
}
footer p {
  padding:5px 0 12px 10px
}
.leaflet-bottom.leaflet-right {
  display: none;
}
#wrapper {
  margin-top: 50px;
  pointer-events: none;
  width: 100%;
  height: calc(100% - 50px);
}
#map {
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  top: 0;
  left: 0;
  position: absolute !important;
  /*z-index: -1;*/
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.navbar {
  border: none;
  margin: 0;
}
.right.events {
  float: right;
  right: 0;
  position: absolute;
  width: 33%;
  overflow: auto;
  height: 100%;
  background: rgba(100, 100, 100, 0.4);
  padding: 30px;
}
.content {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 92%;
  margin-top: 50px;
}
.leaflet-top {
  display: none;
}
pre {
  background: none;
  border: none;
  height: 211px;
  overflow-y: auto;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*
.home thead {
  position: fixed;
  background: white;
  width: 100%;
  top: 50px;
}

.home thead .ng-table-filters th:nth-child(1), .home tbody .event td:nth-child(1) {
  width: 236px !important;
}

.home thead .ng-table-filters th:nth-child(2), .home tbody .event td:nth-child(2) {
  width: 250px !important;
}

.home thead .ng-table-filters th:nth-child(3), .home tbody .event td:nth-child(3) {
  width: 75px !important;
}

.home thead .ng-table-filters th:nth-child(4), .home tbody .event td:nth-child(4) {
  width: 100px !important;
}

.home thead .ng-table-filters th:nth-child(5), .home tbody .event td:nth-child(5) {
  width: 847px !important;
}

.home thead .ng-table-filters th:nth-child(6), .home tbody .event td:nth-child(6) {
  width: 48px !important;
}

.home thead .ng-table-filters th:nth-child(7), .home tbody .event td:nth-child(7) {
  width: 61px;
}

.home thead .ng-table-filters th:nth-child(8), .home tbody .event td:nth-child(8) {
  width: 40px;
}

.home thead .ng-table-filters th:nth-child(9), .home tbody .event td:nth-child(9) {
  width: 40px;
}


.ng-table {
  margin-top: 109px;
  table-layout: fixed;
  width: 100%;
  overflow:hidden;
  word-break:break-all;
}*/
 form.event .modal-body {
  padding: 0 35px;
}
.modal-dialog {
  width: 50%;
}
.dropdown.login {
  width: 250px;
  padding: 17px;
}