div(ng-controller='HeaderCtrl')
    ul.navbar-nav.nav
        li
          a.navbar-brand(href='/') Wooepa
        li(ng-repeat='item in menu', ng-show='global.user', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
          a(href='#!/{{item.link}}') {{item.title}}
      ul.navbar-nav.nav.pull-right(ng-hide='global.authenticated')
        li
          a(href='signup') Signup
        li.divider-vertical
        li
          a(href='signin') Signin
      ul.navbar-nav.nav.pull-right(ng-show='global.authenticated')
        li.dropdown
          a.dropdown-toggle(href='#', toggle='dropdown')
            | {{global.user.facebook.first_name}}
            b.caret
          ul.dropdown-menu
            li
              a(href='/signout') Signout