<form class="event form-horizontal" role="form" ng-submit="submit()">
  <div class="modal-header">
    <h3>{{name ? name : 'New event'}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="ev.name" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Date</label>
      <div class="input-group">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-append input-group">
              <input type="text" class="form-control input-large" ng-model="ev.date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="ev.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }" />
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" ng-model="ev.description" id="description" cols="30" rows="10" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
      <label>Creator Facebook ID</label>
      <input type="text" class="form-control" ng-model="ev.creator.id" id="creator_id" placeholder="Creator ID">
    </div>
    <div class="form-group">
      <label>Creator name</label>
      <input type="text" class="form-control" ng-model="ev.creator.name" id="creator_name" placeholder="Creator name">
    </div>
    <div class="form-group">
      <label>Country</label>
      <input type="text" class="form-control" ng-model="ev.venue.country">
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" ng-model="ev.venue.city">
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" ng-model="ev.venue.state">
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" ng-model="ev.venue.location">
    </div>
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" ng-model="ev.venue.street">
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input type="text" class="form-control" ng-model="ev.venue.latitude">
      <label>Longitude</label>
      <input type="text" class="form-control" ng-model="ev.venue.longitude">
    </div>
    <div class="form-group">
      <label>Picture</label>
      <input type="text" class="form-control" ng-model="ev.pic" id="pig" placeholder="Picture">
      <input type="file" ng-model="ev.pic" accept="image/*" image="image" resize-max-height="300" resize-max-width="250" resize-quality="0.7" />

      Original <img ng-show="image" ng-src="{{image.dataURL}}" type="{{image.file.type}}" />
      Resized <img ng-show="image" ng-src="{{image.resized.dataURL}}" type="{{image.file.type}}" />
      
      <img ng-show="!image" ng-src="{{ev.pic}}" />
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" ng-model="ev.price.full" id="pig" placeholder="Price">
    </div>
    <!--<div ezfb-xfbml="model.reloadWidget['Commens']">
        <div class="fb-comments center-widget" ng-style="{width: widgetWidth + 'px'}" data-href="{{pageUrl}}" data-width="{{widgetWidth}}">
          <div class="fb-comments" data-href="https://wooeva.com/events/{{ev.eid}}" data-numposts="5" data-colorscheme="light"></div>
        </div>
      </div>-->
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>