<form class="event form-horizontal">
  <div class="modal-header">
    <h3>{{name ? name : 'New event'}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" class="form-control" ng-model="ev.name" id="name" placeholder="Name">
    </div>

    <div class="form-group date">
      <label class="control-label">Date</label>
      <div class="input-group" ng-controller="DatepickerCtrl" ng-click="open($event)">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ev.start_time" min="minDate" datepicker-options="dateOptions" datepicker-popup="dd-MMMM-yyyy" is-open="opened" />
        <span class="input-group-btn">
          <button class="btn btn-default"><i class="glyphicon glyphicon-calendar" ng-click="open($event)"></i></button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Time</label>
      <div ng-controller="TimepickerCtrl" ng-model="ev.start_time">
          <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </div> 
    </div>

    <div class="form-group">
      <label class="control-label">Description</label>
      <textarea class="form-control" ng-model="ev.description" id="description" cols="30" rows="10" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label">Place</label>
      <div class="input-append input-group">
        <input type="text" class="form-control" ng-autocomplete options="options" ng-model="ev.place" />
        <span class="input-group-addon">
          <i class="fui-location"></i>
        </span>
      </div>      
    </div>      
    <div class="form-group">
      <label class="control-label">Picture</label>
      <div class="input-append input-group">
        <input type="text" class="form-control" ng-model="ev.pic" id="pig" placeholder="Picture">
        <span class="btn btn-default btn-file input-group-addon">
            Browse <input type="file" ng-model="ev.pic" accept="image/*" name="image" image="image" resize-max-height="200" resize-max-width="200" resize-quality="0.7" />
            <i class="glyphicon glyphicon-picture"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Price</label>
      <div class="input-append input-group">
        <input type="text" class="form-control" ng-model="ev.price.full" id="pig" placeholder="Price">

        <span class="input-group-btn">
          <div class="dropdown">
            <button type="button" class="btn btn-default 
               dropdown-toggle" data-toggle="dropdown">
               <i class="glyphicon glyphicon-euro"></i> 
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
               <li><i class="glyphicon glyphicon-euro"></i></li>
               <li><i class="glyphicon glyphicon-euro"></i></li>
               <li><i class="glyphicon glyphicon-euro"></i></li>
            </ul>
          </div>
        </span>


      </div>      
    </div>
    <!--<div ezfb-xfbml="model.reloadWidget['Commens']">
        <div class="fb-comments center-widget" ng-style="{width: widgetWidth + 'px'}" data-href="{{pageUrl}}" data-width="{{widgetWidth}}">
          <div class="fb-comments" data-href="https://wooeva.com/events/{{ev.eid}}" data-numposts="5" data-colorscheme="light"></div>
        </div>
      </div>-->
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="submit(image)">
        <i class="fui-check"></i>
        OK
      </button>
      <button class="btn btn-warning" ng-click="cancel()">
        <i class="fui-cross"></i>
        Cancel
      </button>
    </div>
</form>