section.event-view
  div(style='background-image: url({{ev.pic_cover.source}}); width: 100%; height: 204px;')
  h3.truncate {{ev.name}}
  a.event(ui-sref='{{getPromoteLink()}}', ng-if='canEdit()') Promote event
  a.facebook-link(target='_blank', href='https://www.facebook.com/events/{{ev.eid}}/') Facebook event
  .tag-list
    span.tag(ng-repeat="tag in ev.tags", ng-if="$index < 3", ng-class="{{tag}}") {{tag}}
  .title
    .attending
      | {{ev.attending_count}}
      i.icon-group
    .price {{ev.price.full}}
  .info
    a(href="https://maps.google.com/maps?q={{ev.location + ' ' + ev.venue.street + ' ' + ev.venue.city + ' ' + ev.venue.country}}", target='_blank')
      .place(ng-if='ev.location')
        i.fa.fa-map-marker
        | {{ev.location}}
    | {{ev.venue.street}}{{ev.venue.street && ev.venue.city ? ', ' : ''}}{{ev.venue.city}}{{ev.venue.city && ev.venue.country ? ', ' : ''}} {{ev.venue.country}}
  .datetime
    span.date
      i.fa.fa-calendar
      span {{ev.start_time | amDateFormat:'D MMM'}} 
    span.time
      i.fa.fa-clock-o
      span {{ev.start_time | amDateFormat:"LT"}}
      span {{ev.start_time | amCalendar}}            
  .row
    .col-md-8
      p.description(ng-bind-html='ev.description | linky')
    .col-md-4
      .event-buttons.wdiv.padding-10
        .event-rsvp-btns
          a.btn.btn-success(href='#', ng-if="attending === ''", ng-click='setAttending(ev.eid)', ng-disabled='isBtnJoinDisabled') {{ btnJoinText }}
          button.btn(ng-if="attending === 'attending'", ng-click='setNotAttending(ev.eid)', ng-disabled='isBtnLeaveDisabled') {{ btnLeaveText }}
        .event-rsvp-btns
          button.btn(friend-selector) Invite your friends!
        .event-share-btns
          button(ng-class='btnShareClass', ng-click='shareEvent()', ng-disabled='isDisabled') Share with your friends?
      .event-buttons.wdiv.padding-10(ng-hide='isInPromotion()', ng-if='ev.in_promotion')
        .alert.alert-success(ng-repeat='player in ev.list_event_players | orderBy:\'-result\' | filter:search', ng-if='ng-if')

      .wdiv.padding-10(ng-if='ev.in_promotion && isInPromotion()')
        .panel.panel-success
          .panel-heading Game Active
          .panel-body
            ul.list-group(ng-if='ev.promoter')
              li.list-group-item(ng-if='!ev.promoter')
                img.img-circle(ng-src='{{ ev.promoter.facebook.picture }}', ng-alt='{{ev.promoter.name}}')
                | {{ ev.promoter.name }}
              li.list-group-item {{ev.promotion.reward}}
              li.list-group-item
                | End:
                strong
                  | {{ev.promotion.end_time | date:'mediumDate'}} at {{ev.promotion.end_time | date:'shortTime'}}
      .wdiv.padding-10
        .panel.panel-default
          .panel-heading Players
          .panel-body
            p(ng-hide='ev.list_event_players') No players yet
            ul.list-group(ng-if='ev.list_event_players')
              input.form-control.input-sm(typ='text', ng-model='search.name')
              hr
              li.list-group-item(ng-repeat='player in ev.list_event_players', ng-if='player.facebook.id == ev.player_id')
                img.img-circle(ng-src='{{ player.facebook.picture }}', ng-alt='{{player.name}}')
                | {{ player.result }} pts
              li.list-group-item(ng-repeat='player in ev.list_event_players | orderBy:\'-result\' | filter:search', ng-if='player.facebook.id != ev.player_id')
                img.img-circle(ng-src='{{ player.facebook.picture }}', ng-alt='{{player.name}}')
                | {{ player.result }} pts
                button.btn.btn-default.btn-xs(onclick='this.disabled=true;', type='button', ng-click='this.innerHtml=\'...\'; addBoost(player, ev.eid)', ng-if='ng-if', ev.player_result='ev.player_result')
                  | ev.player_result || (player.result == 2 && ev.player_result == 2)) && (!boosted || boosted != player.facebook.id)"
                  | Boost
                  span.glyphicon.glyphicon-flash
       
    .row
      .col-xs-6.col-md-3(ng-repeat='image in ev.images', ng-if='ev.images')
      .col-xs-6.col-md-3(ng-repeat='photo in ev.photos', ng-if='ev.photos')