#view
  ui-view(autoscroll='true')
  .container(off-click="$state.go('^')", off-click-filter="header, .modal", adaptive-background, ab-bg-to-class="description")
    .left-container.col-xs-12.col-sm-12.col-md-8.col-lg-8
      section.header(ng-if="ev.pic_cover && ev.pic_cover.source")
        img(src="{{::ev.pic_cover.source}}", style="top: {{coverTopPosition}}")
      section.promoted(ng-if="ev.promoted", ui-sref="list.view.game()")
        .panel-success
          .panel-heading.aligncenter) Game Active
          table.marginstd
            tr
              td
                table.promoterinfo
                  tr
                    td.aligncenter 
                      img.img-circle(ng-src="{{::ev.promoter.picture}}", ng-alt="{{::ev.promoter.name}}")
                  tr
                    td.aligncenter {{::ev.promoter.name}}
                  tr
                    td.smallp_andfont Promoter
              td
                table.reward
                  tr
                    td.aligncenter
                      i.fa.fa-gift.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.reward}}
                  tr
                    td.smallp_andfont Reward
              td
                table.end_date
                  tr
                    td.aligncenter
                      i.fa.fa-bomb.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.end_date | amCalendar}}
                  tr
                    td.smallp_andfont Deadline
      section.aligncenter
        button.btn.btn-warning(ng-click="promote()")
          i.fa.fa-bullhorn.fa-lg
          | &nbsp Promote event!
        button.btn.btn-warning(ng-click="activateGame()")
          i.fa.fa-gamepad.fa-lg
          | &nbsp Activate game
        button.btn.btn-warning(ui-sref="game({city:$root.loc.citySlug, slug:ev.slug, eid:ev.eid})") 
          i.fa.fa-gamepad.fa-lg
          | &nbsp Play!
      section.info
        .info
          h3.title.truncate {{::ev.name}}
        table
          tr
            td
              i.fa.fa-clock-o.fa-lg
              span.fontmedium {{::ev.start_time | amCalendar}}
          tr
            td
              i.fa.fa-map-marker.fa-lg
              span.fontmedium {{::ev.location}} - {{::ev.venue.street}}{{::ev.venue.street && ev.venue.city ? ', ' : ''}}{{::ev.venue.city}}{{::ev.venue.city && ev.venue.country ? ', ' : ''}} {{::ev.venue.country}}
          tr
            td
              i.fa.fa-dot-circle-o.fa-lg
              span.fontmedium NightLife
          tr
            td
              i.fa.fa-tags.fa-lg
              span.tag(ng-repeat="tag in ev.tags", ng-if="$index < 3", class="{{::tag}}") {{::tag}} &nbsp
      section
        div.aligncenter.attendees
          span.fontlarge {{::ev.attending_count}} &nbsp
          br
          span.fontlarge Attendees
        div.aligncenter.marginprice(ng-if="ev.price.full")
          span.fontlarge{{ev.price.full}} &nbsp
          br
          span.fontlarge Price
      section.description(ng-class="{opened: descriptionOpened}", ng-init="descriptionOpened = (ev.description.length < 600)", ng-if="ev.description", ng-click="descriptionOpened = true")
        .bg-image.down(style='background-image: url({{::ev.pic_coveg.source}})')
        p(ng-bind-html='ev.description | linky', ng-click="descriptionOpened = true")
        button.btn(ng-show="!descriptionOpened", ng-if="ev.description.length >= 600")
          i.fa(ng-class="{'fa-chevron-down': !descriptionOpened, 'fa-chevron-up': descriptionOpened}")


      //- section.image(ng-if="angular.element('.header img').offsetHeight !== angular.element('.header').offsetHeight")
      section.image
        //- .bg-image.right(style='background-image: url({{::ev.pic_cover.source}})')
        img.event-image(src="{{::ev.pic_cover.source}}")


      section.media
        ul.pictures(ng-if="fbpics.length")
            li.col-xs-12.col-sm-4.col-md-3.col-lg-4(ng-repeat="pic in fbpics")
              a(href="#")
                img(ng-src="{{::pic.thumbUrl}}", alt="")

            li.col-xs-12.col-sm-4.col-md-3.col-lg-4(ng-repeat="photo in instagramPhotos")
              a(href="#")
                img(ng-src="{{::photo.thumbUrl}}", alt="")

        ul.youtube-videos(ng-if="videos.length")
          li.col-xs-12.col-sm-4.col-md-3.col-lg-4(ng-repeat="video in videos")
            .video-container
              object(type="text/html", data="{{::video}}")

    .right-container.col-xs-12.col-sm-12.col-md-4.col-lg-4
      //- section.datepicker
      //-   datepicker(ng-change="$state.go('list', {since: getStringDate(date)})", ng-model="date", show-weeks="false")

      section.location(ng-if="ev.venue.country !== 'Antarctique'")
        a(href="https://maps.google.com/maps?q={{::ev.location + ' ' + ev.venue.street + ' ' + ev.venue.city + ' ' + ev.venue.country}}", target='_blank')
          .place(ng-if='ev.location')
            i.fa.fa-map-marker
            | {{::ev.location}} - {{::ev.venue.street}}{{::ev.venue.street && ev.venue.city ? ', ' : ''}}{{::ev.venue.city}}{{::ev.venue.city && ev.venue.country ? ', ' : ''}} {{::ev.venue.country}}
        a.map(href="https://maps.google.com/maps?q={{::ev.location + ' ' + ev.venue.street + ' ' + ev.venue.city + ' ' + ev.venue.country}}", target='_blank', style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{::ev.venue.coord.lat + ',' + ev.venue.coord.lng}}&zoom=14&size=640x280&markers=color:blue|{{::ev.venue.coord.lat + ',' + ev.venue.coord.lng}})")

      section
        button.btn.btn-primary(ng-click="purchase()", ng-if="ev.price.num")
          i.fa.fa-ticket
          | Purchase a ticket
        .event-buttons
          .event-rsvp-btns
            button.btn.btn-primary.join(set-attendings)
              i.fa.fa-thumbs-o-up
              | {{::attending}}
          .event-rsvp-btns
            button.btn.btn-primary.invite(ng-click="inviteFriends()")
              i.fa.fa-users
              | Invite friends
          .event-rsvp-btns
            button.btn.btn-primary.share(share-event)
              i.fa.fa-share-alt
              | Share
        .event-buttons.wdiv.padding-10(ng-hide='isInPromotion()', ng-if="ev.promoted")
          .alert.alert-success(ng-repeat='player in ev.list_event_players | orderBy:\'-result\' | filter:search', ng-if='ng-if')