#view
  .container(off-click="$state.go('^')", off-click-filter="header, .modal", adaptive-background, ab-bg-to-class="description")
    .left-container.col-xs-12.col-sm-12.col-md-8.col-lg-8
      section.header
        img(src="{{::ev.pic_cover.source}}", style="top: {{coverTopPosition}}")
      section.promoted(ng-if="ev.promoted")
        .panel-success
          .panel-heading.aligncenter(style="border-color:rgba(233, 198, 226, 0);") Game Active
          table.marginstd
            tr
              td
                table.promoterinfo
                  tr
                    td.aligncenter 
                      img.img-circle(style="width:70%;",ng-src="{{::ev.promoter.picture}}", ng-alt="{{::ev.promoter.name}}")
                  tr
                    td.aligncenter {{::ev.promoter.name}}
                  tr
                    td.smallp_andfont Promoter
              td
                table.reward
                  tr
                    td.aligncenter
                      i.fa.fa-gift.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.reward}}
                  tr
                    td.smallp_andfont Reward
              td
                table.end_date
                  tr
                    td.aligncenter
                      i.fa.fa-bomb.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.end_date | amCalendar}}
                  tr
                    td.smallp_andfont Deadline
      section.promoted(ng-if="ev.promoted == false && ev.promotion") 
        .panel-danger
          .panel-heading.aligncenter Game Finished
          table.marginstd
            tr
              td
                table.promoterinfo
                  tr
                    td.aligncenter 
                      img.img-circle(ng-src="{{::ev.promoter.picture}}", ng-alt="{{::ev.promoter.name}}")
                  tr
                    td.aligncenter {{::ev.promoter.name}}
                  tr
                    td.smallp_andfont Promoter
              td
                table.reward
                  tr
                    td.aligncenter
                      i.fa.fa-gift.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.reward}}
                  tr
                    td.smallp_andfont Reward
              td
                table.end_date
                  tr
                    td.aligncenter
                      i.fa.fa-bomb.fa-4x
                  tr
                    td.aligncenter {{::ev.promotion.end_date | amCalendar}}
                  tr
                    td.smallp_andfont Deadline
      section.in_promotion(ng-if="ev.list_event_players[0].uid && ev.promoted", id="winner", style="text-align:center;")
        span.aligncenter
          img.img-circle(ng-src='{{::"http://graph.facebook.com/" + ev.winner.uid + "/picture?type=square"}}', ng- alt='{{::ev.winner.name}}')
          &nbsp {{::ev.winner.name}} is currently winning with {{::ev.winner.result}} points !
      section.in_promotion(ng-if="ev.list_event_players[0].uid && !ev.promoted", id="winner", style="text-align:center;")
        span.aligncenter
          img.img-circle(ng-src='{{::"http://graph.facebook.com/" + ev.winner.uid + "/picture?type=square"}}', ng- alt='{{::ev.winner.name}}')
          &nbsp {{::ev.winner.name}} is won with {{::ev.winner.result}} points !
      section.aligncenter 
        .event-buttons
          .event-rsvp-btns
            button.btn.btn-primary.join(set-attendings)
              i.fa.fa-thumbs-o-up
              &nbsp {{::attending}} &nbsp &nbsp +6
            button.btn.btn-primary.rsvp(ng-click="inviteFriends()")
              i.fa.fa-users
              anbsp Invite friends?  &nbsp &nbsp +3
            button.btn.btn-primary.share(ng-click="share()")
              i.fa.fa-share-alt
              &nbsp Share?  &nbsp &nbsp +2
          div(id="confirmbox", style="display:none")
            h1 Please Login!
            button.btn.btn-primary(id="acceptbutton") Log Me!
            button.btn.btn-primary(id="cancelbutton") Not now 
      section.aligncenter
        .event-buttons.wdiv.padding-10(ng-hide='isInPromotion()', ng-if="ev.promoted")
          .alert.alert-success(ng-repeat='player in ev.list_event_players | orderBy:\'-result\' | filter:search', ng-if='ng-if')
        .hidden-xs
          .panel.panel-default
            .panel-heading Players
            .panel-body
              p.promote-form(list-event-player, ng-hide='ev.list_event_players[0].uid') No Players yet !
              p.promote-form(list-event-player, ng-hide='!ev.list_event_players[0].uid') {{::ev.list_event_players.length}} Players !
              input.form-control.input-sm(placeholder='Search player', type='text', ng-model='search.name')
              hr
              li.list-group-item.players(ng-repeat="player in ev.list_event_players| orderBy:\'-result\'| filter:search")
                table
                  tr
                    td
                      img.img-circle(ng-src='{{::"http://graph.facebook.com/" + player.uid + "/picture?type=square"}}', ng-alt='{{::player.name}}')
                    td
                      table
                        tr
                          td.promote-form {{::player.name}}
                        tr
                          td.promote-form {{:: player.result }} pts
                          td 
                            button.btn.btn-success(ng-if='player.result > user.result', ng-click="boostPlayer(player)") Boost &nbsp
                              i.fa.fa-bolt.promote-form
    .right-container.col-xs-12.col-sm-12.col-md-4.col-lg-4
      section.aligncenter
        button.btn.btn-danger(ng-click="purchase()") 
          i.fa.fa-ticket
          |Purchase a ticket
