#boost
  div(align='center')
    img(ng-src='{{headerboost}}', width='100%;')
  div.summary.aligncenter
    h3.h3 ARE YOU AN EVENT ORGANIZER?
    br
    br
    p.red Looking to boost your event? But you find it tricky?
    p.black You're constantly sharing on hundreds of pages on Facebook?
    p.black Are you tired of spamming?
    br
    br
    br
    br
    br
    h3.h3 Start an Invitation Contest!
    p.black It's effortless & It's fun!
  div.bottom.aligncenter
    b.h3  HOW DOES IT WORK ?
    br
    br
    img(align='center', ng-src='{{boostmidbanner}}', alt='invite your friends',width='100%')
    br
    div.aligncenter
      br
      img(ng-src='{{purplearrow}}', alt='bluearrow',width='2%')
      b.h3 YOUR TARGET WAS NEVER BETTER!
  div.end.aligncenter
    br
    br
    img(align='center', ng-src='{{targetting}}', alt='get boosted',width='100%')
    div.end.aligncenter
      br
      img(ng-src='{{encoche}}', alt='bluearrow',width='5%')
      br
      br
      img(ng-src='{{boostredarrow}}', alt='redarrow', width='5%')
      p.black Increase your audience while targetting through friends
      br
      br
      img(ng-src='{{boostredarrow}}', alt='redarrow', width='5%')
      p.black Create an engaging and interactive entertainment
      br
      br
      img(ng-src='{{boostredarrow}}', alt='redarrow', width='5%')
      p.black Keep your guests happy and generating buzz
      br
      br
      br
      p
        b.purple Start an invitation contest
      br
      a(href='http://wooepa.com')
        img(align='center', ng-src='{{hornbutton}}', width='10%')
      br
      p.grey.small by clicking above
      br
      br
      br
      p.blue You want some more ideas?
  div.end.aligncenter
    img(ng-src='{{muchmore}}', alt='muchmore', width='100%')
    div.aligncenter
      br
      br
      img(ng-src='{{bluearrow}}', alt='bluearrow', width='5%')
      p
        b.blue THAT'S IT! GIVE A TRY NOW!
      br
      br
      br
      p
        b.purple Start NOW!
      br
      br
      a(href='http://wooepa.com')
        img(align='center', ng-src='{{hornbutton}}', width='10%')
      br
      p.grey.small by clicking above
  img(ng-src='{{footer}}', alt='footer', width='100%')
  div.contactus.aligncenter
    a(href='https://www.facebook.com/wooepa')
      img.decal(ng-src='{{facebookbutton}}', alt='facebook', width='10%')
    a(href='https://twitter.com/wooepa')
      img.decal(ng-src='{{twitterbutton}}', alt='twitter', width='10%')
    a(href='http://instagram.com/wooepa/')
      img.decal(ng-src='{{instagrambutton}}', alt='instagram', width='10%')
    img.decal(ng-src='{{emailbutton}}', alt='email', width='10%')