#information
  div(align='center')
    img(ng-src='{{headermail}}', alt='logo', align='center', width='100%')
  div.summary
    span.span
      div(align='center')
        img(ng-src='{{loupemail}}', align='center', alt='discover events', width='25%')
      h3.h3(align='center')
        u.h3 DISCOVER EVENTS
      div.leftdiv
        p(style="color:black;text-align:center;")
          | - What's happenning in your City?
        p(style="color:black;text-align:center;")
          | - What's your Music Style?
        p(style="color:black;text-align:center;")
          | - Checkout Popular Events!
    span.span
      div(align='center')
        img(ng-src='{{cadeaumail}}', align='center', alt='discover events', width='25%')
      h3.h3(align='center')
        u.h3 GET REWARDED
      div.centerdiv
        p(style="color:black;text-align:center;")
          | - Free admissions
        p(style="color:black;text-align:center;")
          | - VIP tables
        p(style="color:black;text-align:center;")
          | - Bottles of Champagne!
    span.span
      div(align='center')
        img(ng-src='{{megaphonemail}}', align='center', alt='discover events', width='25%')
      h3.h3(align='center')
        u.h3 BOOST YOUR EVENT
      div.rigthdiv
        p(style="color:black;text-align:center;")
          | - Start an invitation Contest
        p(style="color:black;text-align:center;")
          | - Offer a reward
        p(style="color:black;text-align:center;")
          | - Let people invite their friends
  div(align='center')
    img(ng-src='{{midbanner}}', width='100%', align='center', alt='discover events')
  div.bottom(align='center')
    p.black
      b.black Search a City?
    p.grey
      | Paris, New-York, Madrid & 1,000+ cities!
    br
    p.black
      b.black Sort by Music Style?
    p.grey
      | Salsa, RnB, Techno & 100+ tags!
    br
    p.black
      b.black Get a Feel from live situations?
    p.grey
      | Real-time photos & videos from social media
    p
      b.red
        br
        | Wooepa!
        br
        br
        | Makes it easier to decide where you are going out tonight!
        br
        br
        br
        | Start to discover events
    a(href='http://wooepa.com')
      img(align='center', ng-src='{{loupemailbot}}', width='10%')
    p.grey.small
      | by clicking above
  img(ng-src='{{footer}}', alt='footer', width='100%')
