#information
  div(align='center')
    img(ng-src='{{midbanner}}', width='100%', align='center', alt='discover events')
  div.bottom(align='center')
    p.black
      b.black Search a City?
    p.grey
      | Paris, New-York, Madrid & 1,000+ cities!
    br
    p.black
      b.black Sort by Music Style?
    p.grey
      | Salsa, RnB, Techno & 100+ tags!
    br
    p.black
      b.black Get a Feel from live situations?
    p.grey
      | Real-time photos & videos from social media
    p
      b.red
        br
        | Wooepa!
        br
        br
        | Makes it easier to decide where you are going out tonight!
        br
        br
        br
        | Start to discover events
    a(href='http://wooepa.com')
      img(align='center', ng-src='{{loupemailbot}}', width='10%')
    p.grey.small
      | by clicking above
  img(ng-src='{{footer}}', alt='footer', width='100%')
