header(headroom, tolerance='0' offset='0' scroller=".app-view" classes="{pinned:'pinned',unpinned:'unpinned',initial:'headroom'}")
  nav.navbar-inverse(role="navigation", ng-controller='HeaderCtrl')
    .container
      .navbar-header
        a.navbar-brand(href='/', ui-sref="list") Wooepa

        button.navbar-toggle(type='button', ng-init="$root.menuOpen = false", ng-click="$root.menuOpen = !$root.menuOpen")
          span.sr-only
            | Toggle navigation
          i.fa.fa-bars


        ul.nav.navbar-nav.navbar-right
          li.dropdown(ng-if='$root.user', ng-cloak)
            a.dropdown-toggle(href='#')
              span.avatar.pull-right
                img.img-circle(src='{{ $root.user.facebook.picture }}', alt='{{ $root.user.facebook.name }}')
              span.hidden-xs.hidden-sm.hidden-md {{$root.user.facebook.name}}
              i.fa.fa-chevron-down
            ul.dropdown-menu
              li
                a(ui-sref='app.page.profile', href='/me/events') My events
              li.divider
              li
                a(href="/auth/signout", target='_self' translate) Logout
                  i.fa.fa-sign-out
          li(ng-if='!$root.user', ng-cloak)
            a.login(href='/auth/facebook', target='_self' translate) Login