doctype html
html
  include head
  body
    include header

    .wrapper
      .container
        .col-lg-10.content-container
          block content

        .sidebar.col-lg-2.sidebar-container(scroll-to-fixed)
          include sidebar

    script(type='text/javascript', src='/js/app.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')

    block inline-scripts
    script(src='//localhost:35729/livereload.js')