ul.nav.nav-sidebar
  li
    a(href='/free') Free
      i.fa.fa-usd
  li
    a(href='/popular') Popular
      i.fa.fa-heart
  li
    a(href='/festival') Festival
      i.fa.fa-star
  li
    a(href='/worldwide') World
      i.fa.fa-globe
  li
    a(href='/promote') Promoting
      i.fa.fa-user

  li(ng-controller="DatepickerCtrl", ng-click="open($event)")
    datepicker(ng-change="changeDate(date)", ng-model="date", show-weeks="false")

  li(ng-show='global.authenticated')
    a(ng-click='newEvent()') Submit an event
      i.fa.fa-plus

ul.dropdown-menu(data-role='dropdown')
  li
      a(href='') Subitem 1
    li
      a(href='') Subitem 2
    li
      a(href='') Subitem 3
    li.divider
    li
      a(href='') Subitem 4
    li.disabled
      a(href='') Subitem 4


ul.nav
  li
    a(href='/') About Us

  li
    a(href='/privacy') Privacy policy

  li
    a(href='/terms') Terms

  li
    a(href='/support') Support

  li
    //-a(href='/contact')
    a(href='mailto:info@wooepa.com', target='_top') Contact Us