ul.nav.nav-sidebar
  li
    a(href='/today') Today
      i.glyphicon.glyphicon-calendar
      
  li
    a(href='/weekend') Weekend
      i.glyphicon.glyphicon-calendar

  li(ng-controller='DatepickerCtrl', ng-click='open($event)')
    a(href='#!', datepicker-popup='dd-MMMM-yyyy', ng-change='changeDate(date)', ng-model='date', min='minDate', datepicker-options='dateOptions', is-open='opened') {{date |  date:'dd MMMM'}}
      i.glyphicon.glyphicon-calendar(ng-click='open($event)')
      
  li
    a(href='/free') Free
      i.glyphicon.glyphicon-usd
  li
    a(href='/popular') Popular
      i.glyphicon.glyphicon-heart
  li
    a(href='/festival') Festival
      i.glyphicon.glyphicon-star
  li
    a(href='/worldwide') World
      i.glyphicon.glyphicon-globe
  li
    a(href='/promote') Promoting
      i.glyphicon.glyphicon-user
  li(ng-show='global.authenticated')
    a(ng-click='newEvent()') Submit an event
      i.glyphicon.glyphicon-plus
ul.nav
  li
    a(href='/') About Us

  li
    a(href='/privacy') Privacy policy

  li
    a(href='/terms') Terms

  li
    a(href='/support') Support

  li
    //-a(href='/contact')
    a(href='mailto:info@wooepa.com', target='_top') Contact Us