ul.nav.nav-sidebar
  form.navbar-form(role='search', ng-controller="LocationpickerCtrl", ng-submit="alert(1)")
    .input-group
      input.form-control(type="text", placeholder="Type a city or location", typeahead="location for location in getLocation($viewValue)" typeahead-loading="loadingLocations", typeahead-on-select="$root.changeLocation(locationSelected)", ng-model="location")
      .input-group-btn
        button.btn.btn-default(type='submit')
          i.fa.fa-map-marker

  li(ng-controller="DatepickerCtrl", ng-click="open($event)")
    //- datepicker(ng-change="$state.go('list', {date: date, tag: $root.tag})", ng-model="date", show-weeks="false")
    datepicker.datepicker(ng-change="$root.changeDate(date)", ng-model="date", show-weeks="false")
    //- mydatepicker.datepicker(ng-change="$state.go('list', {tag: $root.tag, city: $root.city, date: date.getTime()})", ng-model="date", show-weeks="false")

  //- li(ng-if='$root.user')
  //-   a(ng-click='newEvent()') Submit an event
  //-     i.fa.fa-plus

.nav
  .navbar-header Explore by category
    .tag-list
      a.tag(ng-repeat="tag in $root.tags" class="{{tag}}", ui-sref="list({tag: tag})") {{tag}}

//- ul.nav
//-   li
//-     a(href='/about', ui-sref="about") About Us

//-   li
//-     a(href='/privacy', ui-sref="privacy") Privacy policy

//-   li
//-     a(href='/terms', ui-sref="terms") Terms

//-   li
//-     a(href='/support', ui-sref="support") Support

//-   li
//-     //-a(href='/contact')
//-     a(href='mailto:info@wooepa.com', target='_top') Contact Us