ul.nav.nav-sidebar
  li
    a(href='/free')
      i.fa.fa-usd
      | Free
  li
    a(href='/popular')
      i.fa.fa-heart
      | Popular
  li
    a(href='/festival')
      i.fa.fa-star
      | Festival
  li
    a(href='/worldwide')
      i.fa.fa-globe
      | World
  li
    a(href='/promote')
      i.fa.fa-user
      | Promoting

  li(ng-controller="DatepickerCtrl", ng-click="open($event)")
    datepicker(ng-change="changeDate(date)", ng-model="date", show-weeks="false")

  li(ng-if='$root.authenticated')
    a(ng-click='newEvent()') Submit an event
      i.fa.fa-plus

ul.nav
  li(ng-repeat="tag in $root.tags")
    a.tag(class="{{tag}}", ng-href='/{{$root.$stateParams.city}}/{{tag}}', ui-sref="list({city: $root.$stateParams.city, tag: tag})") {{tag}}

ul.nav
  li
    a(href='/about', ui-sref="about") About Us

  li
    a(href='/privacy', ui-sref="privacy") Privacy policy

  li
    a(href='/terms', ui-sref="terms") Terms

  li
    a(href='/support', ui-sref="support") Support

  li
    //-a(href='/contact')
    a(href='mailto:info@wooepa.com', target='_top') Contact Us