section#list
 div(style='text-align:center;')
  h2(style='color:red;') Your Live Events !
  br
  button.btn(ng-click='updateEvents()', style='background-color:red;color:white;') Update
 .events.col-xs-12.col-sm-9.col-md-9.col-lg-10
  .events-wrapper.col-xs-12.col-sm-6.col-md-4.col-lg-3(ng-repeat='ev in events | orderBy:\'start_time\'', isotope, ui-sref="list.view({slug: ev.slug, eid: ev.eid})")
   .event
    .top
     .background
     a(href="{{document.baseURI + ev.slug + '/' + ev.eid}}").title.truncate {{ev.name}}
     .tag-list
      span.tag(ng-repeat="tag in ev.tags", ng-if="$index < 3", class="{{tag}}", ng-click="openTag($event, ev)") {{tag}}
    .image-container
     a(href="{{document.baseURI + ev.slug + '/' + ev.eid}}")
      .image
       .ribbon-wrapper-green(ng-if="ev.price.num === 0")
        .ribbon-green {{ev.price.full}}
       img(ng-src="{{ev.pic_cover.source}}")
    .bottom
     span.datetime
      span.date
       i.fa.fa-clock-o
       span {{ev.start_time2 | amCalendar:'D MMM'}}
     .attending.pull-right(ng-if="ev.attending_count > 0", ev.attending_count="ev.attending_count")
      i.fa.fa-group
      span {{ev.attending_count}}
     .place-info
      .span.place(ng-click="openMap($event, ev)", ng-if="ev.location")
        i.fa.fa-map-marker
        span.location {{' ' + ev.location | characters:20}}{{ev.location && ev.venue.city ? ', ' + ev.venue.city : ''}}
    .box-shadow