#sidebar {
  // z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 0;
  z-index: 999;
  margin-top: 66px;

  li, a, i, input, button {
    color: @white;
  }

  .navbar-nav {
    font-size: 13px;
    width: 100%;

    > li {
      width: 100%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      background-color: @red;

      ::-moz-placeholder {
        color: @white;
      }

      ::-webkit-input-placeholder {
        color: @white;
      }

      a:focus, a:hover, a:active, a.active {
        background-color: darken(@red, 5%);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid lighten(@red, 5%);
        float: none;
      }

      li a {
        padding-left: 25px;
      }
    }
  }

  .nav-collapse {
    transition: height 0.5s;
  }

  .sort, .date {
    margin-bottom: 7px;
  }

  .search {
    padding: 15px ;
    position: relative;

    i {
      position: absolute;
      top: 0;
      left: 5px;
      padding: 15px;
      line-height: 24px;
    }

    input {
      padding-left: 20px;
      background-color: darken(@red, 3%);
      width: 100%;
      border: none;
      line-height: 24px;

      &:focus {
        outline: none;
      }
    }

    .dropdown-menu {
      background-color: darken(@red, 3%);
      padding: 0;
    }
  }
}