#view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.7);
  padding-top: 50px;
  z-index: 1;

  section {
    background: white;
    padding: 25px;
    margin: 10px 0;
    float: left;
    width: 100%;

    & {
      .xs({
        height:: 100%;
      });
    }
  }
  .header {
    img {
      max-width: 100%;
    }
  }
  .join .invite .share .players .promote{
  }
  .description {
    p {
      white-space: pre-line;
    }
  }
  .location {
    .map {
      height: 200px;
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .media {
    .facebook-pictures,
    .instagram-photos,
    .youtube-videos {
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      list-style: none;

      li {
        text-align: center;
        padding: 5px;
        .img-thumbnail {
          border: none;
          width: 100%;
        }
      }

      object {
        width: 100%;
        height: 250px;
        float: left;
        background-color: black;
      }
    }
  }

  & {
    .xs({
      position: relative;
      padding-top: 0;
    });
  }
}

.mobile #view {
  position: relative;
  padding-top: 0;

  section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 50px;
  }
}