#view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  z-index: 1;

  section {
    background: white;
    padding: 25px;
    margin: 10px 0;
    float: left;
    width: 100%;

    & {
      .xs({
        height:: 100%;
      });
    }
  }
  .header {
    position: relative;
    overflow: hidden;
    background-color: transparent;

    img {
      max-width: 100%;
    }

    .bg-image {
      display: block;
      position: absolute;
      left: -20%;
      top: -20%;
      width: 140%;
      height: 140%;
      // z-index: 2;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-filter: blur(10px);
    }

    .overlay {
      display: block;
      position: absolute;
      z-index: 3;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      cursor: default;
      zoom: 1;
      filter: alpha(opacity=40);
      -webkit-opacity: .4;
      -moz-opacity: .4;
      opacity: .4;
    }
  }
  .join .invite .share .players .promote{
  }
  .description {
    p {
      white-space: pre-line;
    }
  }
  .location {
    .map {
      display: block;
      width: 100%;
      height: 280px;
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .media {
    .facebook-pictures,
    .instagram-photos,
    .youtube-videos {
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      list-style: none;

      li {
        text-align: center;
        padding: 5px;
        .img-thumbnail {
          border: none;
          width: 100%;
        }
      }
    }

    .youtube-videos li .video-container {
      padding-bottom: 56.25%;
      padding-top: 30px;

      object {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  & {
    .xs({
      position: relative;
      padding-top: 0;
    });
  }
}

// .mobile #view {
//   position: relative;
//   padding-top: 0;

//   section {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     padding-top: 50px;
//   }
// }