extends layouts/default

block content
  .content(ui-view)
    //- .(ui-view)
  script.
    window.user = !{user};
    window.fbAppId = !{fbAppId};
    //window.pos = !{JSON.stringify(pos)};
    //window.events = !{JSON.stringify(events)};