extends layouts/default

block content
  section(ng-view)
  script.
    window.user = !{user};
    window.fbAppId = !{fbAppId};
    //window.pos = !{pos};
    window.events = !{JSON.stringify(events)};