doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation", ng-controller='HeaderCtrl')
      .container-fluid
        .navbar-header        
          a.navbar-brand(href='#!') Wooeva
        .navbar-collapse.collapse(collapse='isCollapsed')
          ul.nav.navbar-nav
            li
              a(href='#!/today')
                i.glyphicon.glyphicon-calendar
                | Today
            li
              a(href='#!/weekend')
                i.glyphicon.glyphicon-calendar
                | Weekend
            li
              a(href='#!/free')
                i.glyphicon.glyphicon-usd
                | Free
            li
              a(href='#!/popular')
                i.glyphicon.glyphicon-heart
                | Popular
            li
              a(href='#!/Festival')
                i.glyphicon.glyphicon-star
                | Festival
            li
              a(href='#!/worldwide')
                i.glyphicon.glyphicon-globe
                | Worldwide
            li(ng-show='global.authenticated')
              a(ng-click='newEvent()')
                i.fui-plus
                | Submit an event
                
          ul.nav.navbar-nav.navbar-right.navbar-inverse(ng-show='!global.authenticated')
            li
              a(href='/auth/facebook')
                i.glyphicon.glyphicon-user
                | Login

          ul.nav.navbar-nav.navbar-right.navbar-inverse(ng-show='global.authenticated')
            li.dropdown
              a.dropdown-toggle(href='#', toggle='dropdown')
                {{ global.user.name }}
                b.caret
              ul.dropdown-menu
                li
                  a(href='/signout') Logout

    //- leaflet#map(center='pos', layers='layers', markers='markers', height='100%', width='100%')
    .content#top
      .container
        block content
    
      footer
        .container
          .logo(href='/')
            span.title Wooeva
            span.subtitle Where she's going?
          .twitter
          #wrap
            #lightings
              #one.lights
                #two.lights
                  #three.lights
                    #four.lights
                      #five.lights


    include ../includes/foot